{% extends "layout.html" %}

{% block title %}Create Tag{% endblock %}

{% block main %}
        <main id="main-container">
            <h1>Add a Tag</h1>
            <div class="forms new-tag">
                <div id="select-new-type">
                    <span><b>Create a new:</b></span>
                    <form action="/tags/new" method="get">
                        <span><input name="tag_type" type="radio" value="category" onchange="this.form.submit()" 
                                {% if checked == "tag_category"%} checked {% endif %}/>Tag Category</span>
                        <span><input name="tag_type" type="radio" value="tag" onchange="this.form.submit()" 
                                {% if checked == "tag" %} checked {% endif %}/>Tag</span>
                    </form>
                </div>
                {% block new_tag %}{% endblock %}
            </div>

        </main>
{% endblock %}