{% extends "/tags/new.html" %}

{% block new_tag %} 
                <form action="/tags/new" method="post">
                    <div class="form-row">
                        <label class="category-name-label" for="category-name">Category name</label>
                        <input class="form-inputs category-name-input" type="text" name="category_name"/>
                    </div>
                    <input class="form-inputs submit-btn button" name="action" type="submit" value="Create Category"/>
                </form>
{% endblock %}