{% extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block main %}
        <main id="main-container">
            <h1>Your Account</h1>
            <div class="intro-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sequi eum veniam consequuntur aliquid molestias quidem, doloribus ullam omnis ducimus.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est perspiciatis at, dolor aliquid laboriosam totam!</p>
            <div>
            <div class="stats-table">
                <table>
                    <tr>
                      <th>Type</th>
                      <th>Monthly Budget</th>
                      <th>Daily Budget</th>
                      <th>Amount Spent</th>
                    </tr>
                    <tr>
                      <td>Platforms</td>
                      <td>{{ platform_budgets.monthly_budget }}</td>
                      <td>{{ platform_budgets.daily_budget }}</td>
                      <th>{{ platform_budgets.append_spent }}</th>
                    </tr>
                  </table>
            </div>
            <div class="buttons">
                <a href="/account/edit" class="button">Edit Account</a>
            </div>
        </main>
{% endblock %}