{% extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block main %}
        <main id="main-container">
            <h1>Your Account</h1>
            <div class="intro-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sequi eum veniam consequuntur aliquid molestias quidem, doloribus ullam omnis ducimus.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est perspiciatis at, dolor aliquid laboriosam totam!</p>
            <div>
            <div class="stats-table accounts-table">
                <table>
                    <tr>
                      <th class="other-column">Monthly Budget</th>
                      <th class="other-column">Daily Budget</th>
                      <th class="other-column">Amount Spent</th>
                    </tr>
                    <tr>
                      <td class="other-column">{{ account.currency.symbol }}{{ "%.2f"|format(account.budget.monthly_budget) }}</td>
                      <td>{{ account.currency.symbol }}{{ "%.2f"|format(account.budget.daily_budget) }}</td>
                      {% if account.budget.amount_spent %}
                        <td>{{ account.currency.symbol }}{{ "%.2f"|format(account.budget.amount_spent) }}</th>
                      {% else %}
                        <td>-</th>
                      {% endif %}
                    </tr>
                  </table>
            </div>
            <div class="buttons">
              <a href="/account/edit" class="button">Edit</a>
              <a href="/account/" class="button">Logout</a>
            </div>
        </main>
{% endblock %}