{% extends "layout.html" %}

{% block title %}Create Account{% endblock %}

{% block nav_accounts %}<li><a href="/accounts">accounts</a></li>{% endblock %}

{% block main %}
        <main id="main-container">
            <h1>Create Account</h1>
            <div class="forms edit-account">
                <form action="/accounts/new" method="post">
                    <div class="form-row">
                        <label class="monthly-budget-label" for="monthly-budget">Account Name</label>
                        <input class="form-inputs account-name-input" type="text" name="account_name""/>
                    </div>
                    <div class="form-row">
                        <label class="monthly-budget-label" for="monthly-budget">Monthly Budget</label>
                        <input class="form-inputs monthly-budget-input" type="number" name="monthly_budget"/>
                    </div>
                    <div class="form-row">
                        <label class="amount-spent-label" for="amount-spent">Amount Spent</label>
                        <input class="form-inputs amount-spent-input" type="number" name="amount_spent"/>
                    </div>
                    <div class="form-row">
                    <label class="currency-label" for="currency">Currency</label>
                        <select class="form-inputs currency-input" name="currency_id">
                        {% for currency in currencies %}
                            <option value="{{ currency.id }}">
                                {{ currency.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <input class="form-inputs submit-btn button" type="submit" value="Create Account"/>
                </form>
            </div>
        </main>
{% endblock %}