body {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: rgb(68, 68, 68);
  }

#logo {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

#logo > a {
    text-decoration: none;
    color: white !important;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(64, 166, 164);
}

#menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 1rem;
}

#menu > li > a {
    text-decoration: none;
    color: white !important;
}

#menu > li > a:hover {
    font-weight: bolder;
}

#main-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

footer > span > a {
    color: rgb(64, 166, 164) !important;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    padding: 0.7rem 1.5rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(203, 241, 241);
    color: rgb(68, 68, 68);
    border: 2px solid rgb(114, 191, 190);
    border-radius: 0.3rem;
  }
  
.button:hover {
    background-color: rgb(64, 166, 164);
    border: 2px solid rgb(64, 166, 164);
    color: white;
}

.form-inputs.button {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    display: flex;
    width: 8rem;
    justify-content: center;
}

.intro-text {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    font-size: 1.2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.forms > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.forms > form > div > input {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    width: 14rem;
    font-size: 1rem;
}

.forms > form > div > select {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    width: 14.5rem;
    font-size: 1rem;
}

.edit-account > form > div > input {
    width: 8rem;
}

.edit-account > form > div > select {
    width: 8.5rem;
}

.new-platform > form > div > input {
    width: 11rem;
}

.new-campaign > form > div > input {
    width: 11rem;
}

.new-campaign > form > div > select {
    width: 11.5rem;
}

table > tr > th, td > a, th > a {
    color: rgb(52, 134, 133) !important;
}

.form-row {
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;
}

.submit-btn {
    margin: 2rem 0;
    align-self: center;
    min-width: 9rem;
    padding: 0.3rem 0.8rem;
    font-family: 'Abel', Arial, Helvetica, sans-serif;
}

.stats-table {
    margin: 3rem 0;
    width: 90vw;
    overflow-x: scroll;
}

.accounts-table > table {
    width: 32rem;
}

.platforms-table > table {
    width: 40rem;
}

.edit-tags > table {
    width: 25rem;
}

.edit-platforms > table {
    width: 23rem;
}

th, td {
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.other-column {
    width: 8rem;
}

table tr:nth-child(even) {
    background: rgb(206, 241, 241);
}

table {
    border-collapse: separate;
}

.first-column {
    position: absolute; 
    width: 6rem;
    display: flex;
    align-items: center;
}

.platforms-table .first-column {
    width: 13rem;
    text-align: left;
}

.second-column {
    width: 8rem;
    padding-left: 7rem;
}

table tr:nth-child(1) > th.first-column {
    margin-left: -0.2rem;
    border: 0.01rem solid;
    border-color: white;
    background-color: white;
    border-collapse: collapse;
}

table tr:nth-child(even) .first-column {
    margin-left: -0.2rem;
    background: rgb(206, 241, 241);
    border-collapse: collapse;
}

table tr:nth-child(odd) .first-column {
    margin-left: -0.2rem;
    background: white;
    border-collapse: collapse;
}

.accounts-table tr:last-child td,
.edit-platforms tr:last-child td,
.platforms-table tr:last-child td,
.edit-campaigns tr:last-child td {
    background-color: rgb(240, 240, 240);
}

.edit-platforms .second-column {
    padding-left: 8.6rem;
}

.edit-platforms .first-column .form-inputs,
.edit-campaigns .first-column .form-inputs,
.edit-tags .first-column .form-inputs,
.tag-campaign-table .first-column > span {
    margin-left: 0.5rem;
}

.edit-platforms .first-column > input,
.edit-tags .first-column > input {
    font-size: 0.9rem;
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    width: 5rem;
    text-align: left;
} 

.edit-tags .first-column {
    padding-right: 4rem;
}

.edit-platforms .first-column {
    padding-right: 2rem;
}

.edit-tags .first-column > input {
    width: 7rem;
}

.edit-platforms .second-column > input,
.edit-platforms .other-column > input,
.edit-tags .second-column > input,
.edit-tags .other-column > input {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 5rem;
    text-align: left;
}

.edit-tags .second-column {
    padding-left: 10.5rem;
}

.edit-campaigns .first-column > input {
    font-size: 0.9rem;
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    width: 10rem;
    text-align: left;
} 

.edit-campaigns .second-column {
    padding-left: 11.5rem;
}

.edit-campaigns .second-column > input,
.edit-campaigns .other-column > input {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 6rem;
    text-align: left;
}

.tags-table .sub-header {
    background-color: rgb(206, 241, 241) !important;
}

.tags-table .middle,
.tags-table .total {
    background-color: rgb(244, 243, 243) !important;
}

.new-tag {
    display: flex;
    flex-direction: column;
}

.tag-details-table .first-column {
    width: 13rem;
    text-align: left;
}

.tag-details-table > table {
    width: 40rem;
}

.add-campaigns {
    width: 8rem;
}

.tag-campaign-table .first-column {
    width: 21rem;
    text-align: left;
}