{% extends "layout.html" %}

{% block title %}Edit Data With Google Sheets{% endblock %}

{% block nav_other %}
<li><a href="/accounts">accounts</a></li>
<li><a href="/accounts/{{ account.id }}/platforms">platforms</a></li>
<li><a href="/accounts/{{ account.id }}/tags">tags</a></li>
{% endblock %}

{% block main %}
<div class="buttons">
    <a href="https://docs.google.com/spreadsheets/d/{{ spreadsheet_id }}/edit" class="button">Google Sheet</a>
    <a href="/accounts/connections/google-sheets/import" class="button">Import Data</a>
    <a href="/accounts/connections/google-sheets/export" class="button">Export Data</a>
</div>
{% endblock %}