{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
        <main id="main-container">
            <h1>Welcome to Budgissimo</h1>
            <div class="intro-text">
                <p>Keep on top of all your advertising platform budgets. With Budgissimo you can track budgets and spend, and make sure that your budgets stay within limits.</p>
                <p>Sign up for free and try it out!</p>
            <div>
            <div class="buttons">
                <a href="/account/new" class="button">Sign Up</a>
                <a href="/account/new" class="button">Login</a>
            </div>
        </main>
{% endblock %}